.admin-container {
    width: 600px;
    border-radius: 17px;
    padding: 60px 30px;

    margin: 30px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    text-align: center;

    box-sizing: border-box;
    min-height: 100vh;
}




textarea {
    background-color: rgb(48, 46, 46);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    width: 600px;
    max-width: 600px;
}

.reg {
    padding: 15px;
    width: 600px;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(48, 46, 46);
    color: white;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 90px;
}

.reg:hover {
    background-color: #521a96;
    color: aliceblue;
    box-shadow: 0 0 10px #521a96, 0 0 15px #521a96, 0 0 25px #521a96;
    transform: scale(1.05);
}


article {
    border: solid gray 1px;
    width: 600px;
    height: 110px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.btnE {
    background-color: rgb(48, 46, 46);
    color: white;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 40px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
}

.btnE:hover {
    background-color: #2c1ea8;
    color: aliceblue;
    box-shadow: 0 0 10px #2c1ea8, 0 0 15px #2c1ea8, 0 0 25px #2c1ea8;
    transform: scale(1.05);
}



.btnC {
    background-color: rgb(48, 46, 46);
    color: white;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 40px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
}

.btnC:hover {
    background-color: #961a1a;
    color: aliceblue;
    box-shadow: 0 0 10px #961a1a, 0 0 15px #961a1a, 0 0 25px #961a1a;
    transform: scale(1.05);
}


p {
    margin-bottom: 20px;
}


.botoes {
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-top: auto;
}

.btn-logout {
    border-radius: 15px;
    width: 100px;
    padding: 11px;
    background-color: rgb(48, 46, 46);
    color: white;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 transparent;
    margin-bottom: 40px;
}

.btn-logout:hover {
    background-color: #521a96;
    color: aliceblue;
    box-shadow: 0 0 10px #521a96, 0 0 15px #521a96, 0 0 25px #521a96;
    transform: scale(1.05);
}